<h1>About me</h1>
<p>My name is Chris Tucker and I have become very passionate about web development and coding in general. I have put off learning these skills way too long, and OneMonthRails has so far been the vehicle I needed to push me along.  </p> 